NEW [Testes] Sunshine Messages.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Conversation ByConversationId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save SessionTypeBot": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TB] Start Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "[TB] Start Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get Conversation ByConversationId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TB] Start Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mount Text Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "[TB] Continue Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sunshine Messages": {
      "main": [
        [
          {
            "node": "Global Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount Message": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Mount Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Mount Text Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Mount Form Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount Form Content": {
      "main": [
        [
          {
            "node": "[Sunshine] Send Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount Form": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount Text Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mount Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Sunshine": {
      "main": [
        [
          {
            "node": "Split Sunshine Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TB] Continue Chat": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Mount Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TB] Start Chat": {
      "main": [
        [
          {
            "node": "Save SessionTypeBot",
            "type": "main",
            "index": 0
          },
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation ByConversationId1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation": {
      "main": [
        [
          {
            "node": "Get Conversation ByConversationId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Fields": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Sunshine] Send Message": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount Text Alert": {
      "main": [
        [
          {
            "node": "[Sunshine] Send Message Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Sunshine] Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-29T11:57:10.298Z",
  "id": "KLgujYa4Jyl7tqIH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "NEW [Testes] Sunshine Messages",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 1856.0452731716687,
        "width": 5643.1662605618885
      },
      "id": "9ba83c6f-bedf-46f9-8b98-961754e366a6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0d10108a-b25a-42c1-82de-7303504c9f21",
              "leftValue": "={{ $json.type }}",
              "rightValue": "conversation:message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "36dcd77d-4664-420a-a39a-c35520d05fc7",
              "leftValue": "={{ $json.type }}",
              "rightValue": "conversation:create",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "76870c52-c04e-4221-9388-0a761c6a5d61",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4200,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "396e375d-4faf-4c4e-b73a-88e541d919c4",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8a6fbb2-4baf-4ca3-85b9-aeb4bedba159",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4680,
        1280
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pr0h78b63mtv656",
        "table": "mflxbq26m6v483d",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Switch').item.json.Id }}"
            },
            {
              "fieldName": "typeBotSessionId",
              "fieldValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "id": "0b23ab0b-ea74-48ad-a426-0e5b88a8d9d6",
      "name": "Save SessionTypeBot",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        5420,
        1480
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "bWKV0Gq303SlKPDq",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Global Fields').item.json.type }}",
                    "rightValue": "conversation:message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "914df950-2eea-4537-b29a-1917611c5dc9",
                    "leftValue": "={{ $('Global Fields').item.json.type }}",
                    "rightValue": "conversation:create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create"
            }
          ]
        },
        "options": {}
      },
      "id": "bd611e12-22f0-43d0-b7ff-bcca5b4ad482",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4920,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d633b845-1fca-4f04-bf11-bc2cba3c002b",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4fd7c622-2a9f-46a9-96d3-4e24afb017c3",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "Session not found",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e76bfdc9-2097-4d54-b9c7-e73b8f2f39ba",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6140,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5bbd5723-a29e-4359-9833-e26900676942",
              "leftValue": "={{ $('Global Fields').item.json.type }}",
              "rightValue": "conversation:message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2148e872-abb3-4942-ad7a-a28b58dc58da",
              "leftValue": "={{ $('[TB] Start Chat').item.json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cb2336c-4295-4ddc-bf34-a409d0cc3c9f",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5620,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2964259b-db52-4771-8756-1aef2de1bb22",
              "leftValue": "={{ $json.typeBotSessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a6f326f9-ee61-431c-82f5-49e0c0d6e738",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5240,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ca18f46b-f20c-4295-8dbd-b66078bb4b14",
              "leftValue": "={{ $('Global Fields').item.json.content.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "15f520d8-dbfa-4266-bd47-6a7a0495897f",
              "leftValue": "={{ $('Global Fields').item.json.content.type }}",
              "rightValue": "formResponse",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "274e3a8b-cba2-486d-b467-ea20dfc1d01d",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5500,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst content = $('Global Fields').item.json.content\nconst type = content.type;\nlet msg = \"\"\nif(type == \"text\") {\n  msg = content.text\n} else if(type == \"formResponse\") {\n\n  msg = content.fields[0][content.fields[0].type]\n}\nreturn {typeBotSessionId: $json.typeBotSessionId, message: msg};"
      },
      "id": "6f143cda-00eb-41cd-b27d-d7e92a3a0761",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5740,
        1000
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=body.events",
        "options": {}
      },
      "id": "01e0c560-9bb0-4fd5-8a58-370968938404",
      "name": "Split Sunshine Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3520,
        1280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function applyFormatting(element) {\n  let text = '';\n\n  if (element.text) {\n    text += element.text;\n  }\n\n  if (element.children && element.type !== 'a') {\n    for (const child of element.children) {\n      text += applyFormatting(child);\n    }\n  }\n\n  if (element.type === 'p' && element.type !== 'inline-variable') {\n    text = text.trim() + '\\n';\n  }\n\n  if (element.type === 'inline-variable') {\n    text = text.trim();\n  }\n\n  if (element.type === 'ol') {\n    text =\n      '\\n' +\n      text\n        .split('\\n')\n        .map((line, index) => (line ? `${index + 1}. ${line}` : ''))\n        .join('\\n');\n  }\n\n  if (element.type === 'li') {\n    text = text\n      .split('\\n')\n      .map((line) => (line ? `  ${line}` : ''))\n      .join('\\n');\n  }\n\n  let formats = '';\n\n  if (element.bold) {\n    formats += '*';\n  }\n\n  if (element.italic) {\n    formats += '_';\n  }\n\n  if (element.underline) {\n    formats += '~';\n  }\n\n  let formattedText = `${formats}${text}${formats.split('').reverse().join('')}`;\n\n  if (element.url) {\n    formattedText = element.children[0]?.text ? `[${element.children[0]?.text}]\\n(${element.url})` : `${element.url}`;\n  }\n\n  return formattedText;\n}\nconst messages = $json.messages\nconst returns = []\nfor (let message of messages) {\n  let formattedText = '';\n  if (message && message.type === 'text') {\n  \n    for (const richText of message.content.richText) {\n      for (const element of richText.children) {\n        formattedText += applyFormatting(element);\n      }\n      formattedText += '\\n';\n    }\n  \n    formattedText = formattedText.replace(/\\*\\*/g, '').replace(/__/, '').replace(/~~/, '').replace(/\\n$/, '');\n  \n    formattedText = formattedText.replace(/\\n$/, '');\n  }\n  returns.push({ text: formattedText, input: null})\n}\nif($json.input && returns[returns.length-1]) {\n  returns[returns.length-1].input = $json.input\n}\nreturn { messages: returns }"
      },
      "id": "adc2bb05-5f26-42db-8701-ad48792d4997",
      "name": "Mount Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6540,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8362b41d-c197-4601-a468-3c74c2e42fba",
              "leftValue": "={{ $json.input }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b26a43fb-bd37-484f-b1ad-151e7bac8bef",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6580,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ce29b239-ad8d-43db-91dc-cd3621d2b43d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "230b7050-40f8-4393-987d-318dc8ea38cd",
      "name": "If11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7400,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "46a396e8-9d48-4f83-96c6-b8658e97a2ae",
              "leftValue": "={{ $('Mount Form').item.json.form }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "38db1d73-05d4-4165-8a9e-7e14186dc880",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8100,
        1020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nlet content = $('Mount Form').item.json.form\nconst author = {\n    type: \"business\",\n    displayName: $('Global Fields').item.json.displayName,\n    avatarUrl: $('Global Fields').item.json.avatarUrl\n}\nconst metadata = {\n    lang: \"pt-br\",\n}\nreturn {content: content, metadata: metadata, author: author}"
      },
      "id": "482ca3c5-7685-42fd-b9d5-c0dc502b922d",
      "name": "Mount Form Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8320,
        1020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst text = $json.text ?? null\nconst actions = []\nconst input = $json.input ?? null\nlet form = {}\n\nif (input) {\n  let field = {}\n  const options = input.options\n  const placeholder = options && options.labels && options.labels.placeholder ? options.labels.placeholder : null\n  if (input.type === 'email input') {\n    field.type = \"email\"\n    field.name = placeholder ?? \"email\"\n    field.label = placeholder ?? \"email\"\n  } else if (input.type === 'text input') {\n    field.type = \"text\"\n    field.name = placeholder ?? \"texto\"\n    field.label = placeholder ?? \"texto\"\n  } else if (input.type === 'number input') {\n    field.type = \"text\"\n    field.name = placeholder ?? \"numero\"\n    field.label = placeholder ?? \"numero\"\n  } \n  if(field && field.type) {\n    form = {\n      type: \"form\",\n      fields:[field]\n    }\n  }\n  if (input.type === 'choice input') {\n    for (let item of input.items) {\n      actions.push({\n        type: \"reply\",\n        text: item.content,\n        payload: item.content\n      })\n    }\n  } \n}\nreturn { text: text,form: form, actions: actions }"
      },
      "id": "145a7f34-7c17-43ab-b278-97cd35df79a3",
      "name": "Mount Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7180,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const author = {\n    type: \"business\",\n    displayName: $('Global Fields').item.json.displayName,\n    avatarUrl: $('Global Fields').item.json.avatarUrl\n}\nconst metadata = {\n    lang: \"pt-br\",\n}\nlet content = {\n  type: \"text\",\n  text: $json.text\n}\nconst actions = $json.actions\nconst override = {}\nif(actions && actions.length > 0) {\n  content.actions = actions\n  \n  const buttons = []\n  for (let action of actions) {\n    buttons.push({\n      type: \"reply\",\n      reply: {\n        id: action.payload,\n        title: action.text\n      }\n    })\n  }\n  if (buttons && buttons.length > 0) {\n    override.whatsapp = {\n      payload: {\n        type: \"interactive\",\n        interactive: {\n          type: \"button\",\n          body: {\n            text: $json.text\n          },\n          action: {\n            buttons: buttons\n            }\n        }\n      }\n    }\n  }\n}\nreturn {content: content, author: author, metadata:metadata, override: override }"
      },
      "id": "4ddb9e66-6cc6-451e-8bda-ed15e9d29367",
      "name": "Mount Text Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7600,
        780
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "347b467d-4c80-49d0-98f4-2fffa9d83ba2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6800,
        840
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conversation_sunshine_automation",
        "options": {}
      },
      "id": "fb7581c3-9839-4c81-bf9b-a1ab738ffff6",
      "name": "Webhook Sunshine",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3300,
        1280
      ],
      "webhookId": "4d1d5456-74d7-4b7d-b302-a2b6ca23434e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot.mvsdevs.uk/api/v1/sessions/{{ $json.typeBotSessionId }}/continueChat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"textBubbleContentFormat\": \"richText\"\n}",
        "options": {}
      },
      "id": "33b52c78-e550-4902-b629-ca6d8fb770d4",
      "name": "[TB] Continue Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5980,
        1000
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "45782785-f0ff-4824-8eed-2daa4d26e811",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1113fa63-86f7-49b1-997c-b86e27739f55",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6240,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot.mvsdevs.uk/api/v1/typebots/atendimento-noc-new/startChat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"\",\n  \"isStreamEnabled\": false,\n  \"resultId\": \"\",\n  \"isOnlyRegistering\": false,\n  \"prefilledVariables\": {\n    \"number\": \"5519984101074\",\n    \"pushName\": \"Malcon\",\n    \"conversationId\": \"{{ $('Global Fields').item.json.conversationId }}\",\n    \"conversationUserId\": \"{{ $('Global Fields').item.json.conversationUserId }}\"\n  },\n  \"textBubbleContentFormat\": \"richText\"\n}",
        "options": {}
      },
      "id": "78555943-1cf4-4e0b-a1fc-06c69f839abd",
      "name": "[TB] Start Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        1260
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pr0h78b63mtv656",
        "table": "mflxbq26m6v483d",
        "limit": 1,
        "options": {
          "sort": {
            "property": [
              {
                "field": "UpdatedAt",
                "direction": "desc"
              }
            ]
          },
          "where": "=(conversationId,eq,{{ $('Global Fields').item.json.conversationId }})"
        }
      },
      "id": "fda5b57e-8949-487f-be84-04c8143a305e",
      "name": "Get Conversation ByConversationId1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        4440,
        1280
      ],
      "retryOnFail": false,
      "alwaysOutputData": true,
      "waitBetweenTries": 2000,
      "notesInFlow": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "bWKV0Gq303SlKPDq",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2613854b-9e53-422b-8ca9-e95d4706805b",
              "leftValue": "={{ $json.integrationId }}",
              "rightValue": "={{ $json.activeIntegrationId }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "823ffe2e-833f-4105-93c8-e93c44e0c2a3",
              "leftValue": "={{ $json.conversationUserId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3a82d77-db83-429c-87df-c31004a29f38",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3960,
        1280
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pr0h78b63mtv656",
        "table": "mflxbq26m6v483d",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "conversationId",
              "fieldValue": "={{ $('Global Fields').item.json.conversationId }}"
            },
            {
              "fieldName": "isBot",
              "fieldValue": "true"
            },
            {
              "fieldName": "lastContact",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldName": "conversationUserId",
              "fieldValue": "={{ $('Global Fields').item.json.conversationUserId }}"
            }
          ]
        }
      },
      "id": "c23ca907-cd81-4675-ac8e-af19c9e86e53",
      "name": "Create Conversation",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        4920,
        1460
      ],
      "retryOnFail": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "bWKV0Gq303SlKPDq",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d87b8fbc-0bde-473e-8f3c-8fda70ee7c02",
              "name": "conversationId",
              "value": "={{ $json.payload.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ec08bdd-38cf-4588-9735-57a30670c0ab",
              "name": "content",
              "value": "={{ $json.payload.message.content }}",
              "type": "object"
            },
            {
              "id": "55aa5de1-ae80-4899-9c41-96f1eeec850c",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "4de8e27c-07a5-4cb6-b0c0-c526dc555f15",
              "name": "inputType",
              "value": "={{ $json.payload.message.content.type }}",
              "type": "string"
            },
            {
              "id": "8a900e0b-7f9d-4c5a-bd22-76aee01b0b80",
              "name": "subDomain",
              "value": "padtecsupport1715188965",
              "type": "string"
            },
            {
              "id": "c26b07aa-0e7c-44d5-9828-1d08878826a7",
              "name": "source",
              "value": "={{ $json.payload.message.source.type }}",
              "type": "string"
            },
            {
              "id": "947b4daa-ba50-42ed-97fd-44de7359f0a3",
              "name": "pushName",
              "value": "={{ $json.payload.message.author.displayName }}",
              "type": "string"
            },
            {
              "id": "ab390c83-2dd4-4b40-a1f6-d792ec9dcf7b",
              "name": "appId",
              "value": "663bb50eee907e92c2d2f38f",
              "type": "string"
            },
            {
              "id": "4e12d518-5683-4dd1-8f7f-efed08a30f45",
              "name": "activeIntegrationId",
              "value": "={{ $json.payload.conversation.activeSwitchboardIntegration.integrationId }}",
              "type": "string"
            },
            {
              "id": "7dbe837c-209d-4444-bd07-47f48505f9df",
              "name": "integrationId",
              "value": "665ddd219164df96d0408740",
              "type": "string"
            },
            {
              "id": "ceca6594-a7c6-4217-861d-3653458b4d3e",
              "name": "conversationUserId",
              "value": "={{ $json.payload?.user?.id ?? $json.payload?.message?.author?.userId }}",
              "type": "string"
            },
            {
              "id": "798a1d82-1838-4eff-b635-d3a2b607be47",
              "name": "author",
              "value": "={{ $json.payload.message.author }}",
              "type": "object"
            },
            {
              "id": "a9e5b72e-139d-4f7e-94f3-9cd088001bd4",
              "name": "displayName",
              "value": "Padtec",
              "type": "string"
            },
            {
              "id": "cc43dc96-bbe2-4349-a01f-cf0cbb3f4296",
              "name": "avatarUrl",
              "value": "https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1b267254-93aa-4fb4-bc83-2c518a1ed237",
      "name": "Global Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3740,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Global Fields').item.json.subDomain }}.zendesk.com/sc/v2/apps/{{ $('Global Fields').item.json.appId }}/conversations/{{ $('Global Fields').item.json.conversationId }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "author",
              "value": "={{ $json.author }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "metadata",
              "value": "={{ $json.metadata }}"
            },
            {
              "name": "override",
              "value": "={{ $json.override}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "204e09b6-6a80-4f45-8ef4-73bcbf2f4ec2",
      "name": "[Sunshine] Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7840,
        780
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eDGGJMJBgG0lvaxW",
          "name": "ZendeskConversationApiAccount"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Global Fields').item.json.subDomain }}.zendesk.com/sc/v2/apps/{{ $('Global Fields').item.json.appId }}/conversations/{{ $('Global Fields').item.json.conversationId }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "metadata",
              "value": "={{ $json.metadata }}"
            },
            {
              "name": "author",
              "value": "={{ $json.author }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "270b0f0b-0f44-425a-9632-910826e3fbf7",
      "name": "[Sunshine] Send Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8540,
        1020
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eDGGJMJBgG0lvaxW",
          "name": "ZendeskConversationApiAccount"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Global Fields').item.json.subDomain }}.zendesk.com/sc/v2/apps/{{ $('Global Fields').item.json.appId }}/conversations/{{ $('Global Fields').item.json.conversationId }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "author",
              "value": "={{ $json.author }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "metadata",
              "value": "={{ $json.metadata}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b9b72b30-8537-4e73-8610-92dbe8fc09db",
      "name": "[Sunshine] Send Message Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5980,
        780
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eDGGJMJBgG0lvaxW",
          "name": "ZendeskConversationApiAccount"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nlet content = {\n  type: \"text\",\n  text: \"Não habilitado para receber esse tipo de mensagem!\"\n}\n\nconst author = {\n    type: \"business\",\n    displayName: $('Global Fields').item.json.displayName,\n    avatarUrl: $('Global Fields').item.json.avatarUrl\n}\nconst metadata = {\n    lang: \"pt-br\",\n}\nreturn {content: content, metadata: metadata, author: author}"
      },
      "id": "bf324055-a58d-48fd-aeb7-0b7eb99aa9ee",
      "name": "Mount Text Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5740,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8320e66e-0610-4443-8956-ea67c992c135",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7640,
        1740
      ]
    },
    {
      "parameters": {},
      "id": "b8e01056-2b78-45a6-9912-5b6837f3c221",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7940,
        1740
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "3dd58945-cc23-4afa-b47f-327ebfe71062",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8240,
        1800
      ],
      "webhookId": "c0742405-cf42-4a61-863d-327d8ebf81d9"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-08-29T11:57:10.298Z",
      "updatedAt": "2024-08-29T11:57:10.298Z",
      "role": "workflow:owner",
      "workflowId": "KLgujYa4Jyl7tqIH",
      "projectId": "BbalulLcG5rqgvFJ",
      "project": {
        "createdAt": "2024-06-10T18:18:03.245Z",
        "updatedAt": "2024-06-10T18:18:03.245Z",
        "id": "BbalulLcG5rqgvFJ",
        "name": "MALCON VIVARELLI SILVA <mvsilva@padtec.com.br>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-06-10T18:18:03.245Z",
            "updatedAt": "2024-06-10T18:18:03.245Z",
            "role": "project:personalOwner",
            "userId": "a9909e32-26ff-472d-956b-0d491ff8ae04",
            "projectId": "BbalulLcG5rqgvFJ",
            "user": {
              "createdAt": "2024-05-31T19:30:31.891Z",
              "updatedAt": "2024-08-08T16:46:15.990Z",
              "id": "a9909e32-26ff-472d-956b-0d491ff8ae04",
              "email": "mvsilva@padtec.com.br",
              "firstName": "MALCON VIVARELLI",
              "lastName": "SILVA",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-31T19:31:18.544Z",
                "personalization_survey_n8n_version": "1.42.1"
              },
              "settings": {
                "isOnboarded": true,
                "userActivated": true,
                "userActivatedAt": 1721678428499,
                "firstSuccessfulWorkflowId": "uJYj0C8HAGSVdduN",
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1723135580263
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-30T17:54:08.925Z",
  "versionId": "5b36ddca-217b-413f-94ff-d04c2fa03ec9"
}